
header {
    width: 100%;
    height: 50px;
    background-color: #2C3E50;//#3A539B;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);//#34495E;
    //box-shadow: 2px 2px 2px #2C3E50;

    ul.nav.nav-pills {
        margin-left: 69%;
        margin-top: 5px;
        li{
            a,i{
                color: #ECECEC;
            }
        }
        li:hover{
            a, i{ color: #3A539B }
        }
    }

    .logo{
        padding-top: 10px;
        float: left;
        color: #ececec;
        margin-right: 10px;
    }
    .titulo {
        float:left;
        padding-top: 5px;
        h4{
            color: #ECECEC;
        }
    }
}

footer {
    height: 60px;
}
.box {
    background-color: white;
    border-radius: 3px;
    margin-top: 10px;

    hr{
        margin-bottom: 0px;
    }

    table {
        max-width: 96%;
        margin-left: 20px;
    }

    nav {
        margin-left: 10px;
    }

    .page-header{
        margin-top: -5px;
        margin-left: 20px;
        margin-right: 20px;

        padding-top: 10px;
    }
}
.box-shadow{
    box-shadow: 2px 2px 2px 2px #ccc;
}

.wrap-border-radius {
    border-radius: 3px;
}

#corpo {
    padding-top: 60px;
    background-color: #EEEEEE;
    min-height: 670px;
}

#menu-lateral {
    margin-top: -10px;
    margin-left: -24px;
    background-color: #2C3E50;
    position: fixed;
    min-height: 720px;
    width: 220px;

    ul.nav.nav-pills.nav-stacked {
        margin-top: 5px;
        li{
            border-bottom: solid 1px rgba(0, 0, 0, 0.1);
        }
        li:hover {
            background-color: white;
            a,i {
                color: #2C3E50;
            }
        }
        a,i{
            color: #ECECEC;
            margin-left: 10px;
        }
    }
}
