
header {
    width: 100%;
    height: 50px;
    background-color: #3A539B;
    box-shadow: 2px 2px 2px #2C3E50;

    ul.nav.nav-pills {
        margin-left: 69%;
        margin-top: 5px;
        li{
            a,i{
                color: #ECECEC;
            }
        }
        li:hover{
            a, i{ color: #3A539B }
        }
    }
}

footer {
    height: 60px;
}
.box {
    background-color: white;
    border-radius: 3px;
    margin-top: 10px;

    table {
        max-width: 98%;
        margin-left: 10px;
    }

    nav {
        margin-left: 10px;
    }

    .page-header{
        margin-top: -5px;
        margin-left: 10px;
        margin-right: 10px;

        padding-top: 10px;
    }
}
.box-shadow{
    box-shadow: 2px 2px 2px 2px #ccc;
}

.wrap-border-radius {
    border-radius: 3px;
}

#corpo {
    padding-top: 60px;
    background-color: #EEEEEE;
    min-height: 620px;
}

#menu-lateral {
    margin-top: -10px;
    margin-left: -20px;
    background-color: #2C3E50;
    position: fixed;
    min-height: 720px;
    width: 220px;

    ul.nav.nav-pills.nav-stacked {
        padding-left: 10px;
        margin-top: 5px;
        li{
            border-bottom: solid 1px #34495E;
        }
        li:hover {
            background-color: white;
            a,i {
                color: #2C3E50;
            }
        }
        a,i{
            color: #ECECEC;
        }
    }
}
